@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
	background-color: #f7f7f7;
}

body {
	margin: 0 10%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
